@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext');

body {
  margin: 0;
  padding: 0;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.c-background {
  background: url('./images/bg2.jpg') 50% 50% no-repeat;
  background-size: auto 100%;
  display: flex;
  align-items: flex-end;
}

.l-game {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.c-background {
  width: 100%;
}
.c-side {
  width: 300px;
  height: 100vh;
  flex-shrink: 0;
}

.c-question {
  width: 98%;
  margin: 10px 1%;
  border: 2px solid #fff;
  padding: 20px;
  color: #fff;
  font-size: 16px;
  background-color: #1561bf;
  box-shadow: inset 4px 4px 20px 0 #062a67, inset -4px -4px 20px 0 #062a67;
  position: relative;
  transition: 230ms;
}

.c-question:not(.c-questions__title) {
  cursor: pointer;
}

.c-question:not(.c-questions__title):hover {
  background-color: #eee;
  box-shadow: inset 4px 4px 20px 0 #cee0ff, inset -4px -4px 20px 0 #cee0ff;
  color: #1561bf;
}

.c-question.is-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.c-question__control {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}

.c-questions {
  width: 100%;
}

.c-questions__list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.c-questions__list .c-question {
  width: 48%;
}

.c-status {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: 20px;
}
.c-status__item {
  color: #ffff00;
  font-size: 14px;
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.c-status__item.is-active {
  background: #f3bf4b;
  color: #fff;
  position: relative;
}

.c-status__item.is-active:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 10px 12.5px 0;
  border-color: transparent #f3bf4b transparent transparent;
  top: 0;
  bottom: 0;
  left: -10px;
}

.c-status__item.is-special {
  color: #fff;
  font-weight: 700;
}

.c-status__indicator {
  position: relative;
}

.c-status__item.is-done .c-status__indicator:after {
  position: absolute;
  content: '';
  right: -20px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background-color: #fff;
}

.f-start {
  padding: 20px;
  color: #fff;
  background-color: #491c61;
  border: 2px solid #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.f-start__label {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

.f-start__control {
  margin-top: 4px;
  height: 40px;
  font-size: 16px;
  padding: 6px;
}

.f-start__action {
  margin-top: 20px;
  font-size: 20px;
  line-height: 40px;
  border-radius: 4px;
  background: #fff;
  text-transform: uppercase;
  width: 100%;
  transition: 230ms;
  cursor: pointer;
}
.f-start__action:hover {
  background-color: #491c61;
  color: #fff;
  border-color: #fff;
}

.c-side {
  padding: 20px;
  border-left: 2px solid #fff;
  background-color: #1561bf;
  color: #fff;
}

.l-centered {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./images/bg.jpg') 50% 50% no-repeat;
  background-size: 100%;
}

.c-start-link {
  cursor: pointer;
  display: block;
  width: 200px;
  height: 40px;
  line-height: 36px;
  font-size: 22px;
  color: #fff;
  background-color: #491c61;
  border: 2px solid #fff;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  transition: 230ms;
}

.c-start-link:hover {
  background-color: #fff;
  color: #491c61;
  border-color: #491c61;
}

.l-end {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #1561bf;
  color: #fff;
  font-size: 50px;
}

.c-lifelines {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.c-lifelines button {
  cursor: pointer;
  width: 30%;
  display: block;
  font-size: 10px;
  border: 1px solid #fff;
  background: #1561bf;
  color: #fff;
  padding: 6px;
  transition: 220ms;
}

.c-lifelines button:hover:not(:disabled) {
  background: #fff;
  color: #1561bf;
}

.c-lifelines button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}